<MudCard Class="p-4 pt-5 rounded-4" Style="min-width: 500px; max-width: 50%;" Elevation="0" Outlined="true">
    <MudText Typo="Typo.h6">About</MudText>
    <MudDivider Class="py-3" Style="border-color: transparent;" />

    <MudStack Row="false">
        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <MudText>Application Name</MudText>
            <MudText>HomeLab Monitor</MudText>
        </MudStack>
        <MudDivider Style="border-top: 1px solid black;" />
        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <MudText>Version</MudText>
            <MudText>1.0.0</MudText>
        </MudStack>
        <MudDivider Style="border-top: 1px solid black;" />
        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <MudText>Framework</MudText>
            <MudText>ASP.NET Core</MudText>
        </MudStack>
        <MudDivider Style="border-top: 1px solid black;" />
        <MudStack Row="true" Justify="Justify.SpaceBetween">
            <MudText>License</MudText>
            <MudText>MIT</MudText>
        </MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Inherit">
            <div class="d-flex align-items-center gap-2">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Size="Size.Small" />
                <span>View on Github</span>
            </div>
        </MudButton>
    </MudStack>

</MudCard>